@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./variables.sass"
@import "./mixins.sass"
@import "../app/shared/header/header.component.sass"
@import "../app/pages/home/home.component.sass"
@import "../app/shared/footer/footer.component.sass"

html, body
    margin: 0
    padding: 0

body
    background-color: #f0f0f0 !important