<div class="container py-5">

    <app-breadcrumbs></app-breadcrumbs>
    
    <div class="card shadow">
        <div class="row p-5">
            <div class="col-6">
                <img class="w-100" [src]="product.img | image: 'products'" [alt]="product.name">
            </div>
            
            <div class="col-5">
                <div class="h3">{{product.name}}</div>
                <hr class="w-auto mx-0 my-auto">
                <div class="h3 py-4">{{product.unitPrice | currencyFormat | currency:'$':'symbol':'1.0-0'}}</div>
                <div class="h5">Medios de pago<br><i class="fa fa-cc-mastercard pr-1"></i><i class="fa fa-cc-visa"></i></div>
                <div class="h5 py-3">Marca: {{product.brand}}</div>
                <div class="h5 py-2">Stock disponible</div>
                <div class="btn-group-vertical w-75 h5">
                    <button class="btn btn-primary mb-2" type="submit">Comprar</button>
                    <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar al carrito</button>
                </div>
            </div>
            
            <div class="col py-5">
                <ul class="nav nav-tabs h5" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Descripción</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Información</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active pt-3 h5" id="home" role="tabpanel" aria-labelledby="home-tab">{{product.description}}</div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                  </div>
            </div>
    
        </div>
    </div>
</div>